<div class="contact">
  <div class="container-fluid other-pages-background">
    <div class="row">
      <div class="col-md-5 text-center">
        <h2>Start</h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <table class="table-dark">
          <thead class="font-weight-bold text-center">
          <td>Description</td>
          <td>Date</td>
          <td>Amount</td>
          <td>Status</td>
          <td>Percentage</td>
          </thead>
          <tbody>
          {{#each lineItems as | lineItem|}}
            <tr class="{{if lineItem.isExpense '' 'badge-info'}}">
              <td>{{lineItem.description}}</td>
              <td>{{lineItem.date}}</td>
              <td>{{lineItem.amount}}</td>
              <td>{{lineItem.isExpense}}</td>
              <td>{{percentage lineItem.amount totalAmount}}</td>
            </tr>
          {{/each}}
          </tbody>
          <tfoot>
          <tr>
            <td>
              {{input type="text" value=newDescription placeholder="Description"}}
            </td>
            <td>
              {{input type="date" value=newDate placeholder="Date"}}
            </td>
            <td>
              {{input type="number" value=newAmount placeholder="amount"}}
            </td>
            <label>
              {{input type="checkbox" checked=newIsExpense }}Is a Expense?
            </label>
          </tr>
          <tr>
            <td colspan="3">
              <button {{action 'addNewLineItem'}} class="btn btn-secondary">Add New Item</button>
            </td>
          </tr>
          </tfoot>
          <!-- Car Sale from Albuquerque Representatives would love to help you<br>
           choose your car or answer any questions you may have.
        --> </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <address>
          Car Sale
          <p>
            Albuquerque, NM 87112
          </p>
          <a href="tel:505.555.1212">+1 (505) 555-1212</a><br>
          <a href="mailto:carsale@gmail.com">carsale@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
</div>
