<div class="container mt-5">
  <table class="table table-striped">
    <thead class="font-weight-bold  text-center">
    <td><LinkTo @route="index" @query={{hash sort='description'}}>Description</LinkTo></td>
    <td><LinkTo @route="index" @query={{hash sort='category'}}>Category</LinkTo></td>
    <td><LinkTo @route="index" @query={{hash sort='date'}}>Date</LinkTo></td>
    <td><LinkTo @route="index" @query={{hash sort='amount'}}>Amount</LinkTo></td>
    <td><LinkTo @route="index" @query={{hash sort='status'}}>Status</LinkTo></td>
    <td><LinkTo @route="index" @query={{hash sort='percentage'}}>Percentage</LinkTo></td>
    </thead>
    <tbody>
    {{#each sortedLineItems as |lineItem|}}
      {{line-item-row model=lineItem totalAmount=totalAmount categories=categories destroyRecord=(action 'deleteLineItem') saveRecord=(action 'saveLineItem')}}
    {{/each}}
    </tbody>
    <tfoot>
    <td colspan="8">
      <button {{action 'addNewLineItem'}} class="btn btn-secondary">Add New Item</button>
    </td>
    </tfoot>
  </table>
</div>